# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "npm"
    directories:
      - "Eraware_Dnn_Templates/Eraware_Dnn_Spa_Ef_Di_Stencil/module.web"
      - "Eraware_Dnn_Templates/Eraware_PersonaBarModuleTemplate/module.web"
      - "Eraware_Dnn_Templates/Eraware_Dnn_Spa_Ef_Di_Stencil/module/docfx_project"
    schedule:
      interval: "monthly"
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "Microsoft.AspNet.WebApi.Client"
      - dependency-name: "Microsoft.AspNet.WebApi.Core"
      - dependency-name: "Microsoft.Extensions.DependencyInjection"
      - dependency-name: "Microsoft.Extensions.DependencyInjection.Abstractions"
      - dependency-name: "Newtonsoft.Json"
    groups:
      xunit:
        patterns:
          - "xunit*"
      dnn:
        patterns:
          - "DotNetNuke*"
      nswag:
        patterns:
          - "NSwag*"
      coverlet:
        patterns:
          - "coverlet*"
