:host {
  display: block;

  .grid {
    display: grid;
    grid-template-columns: 1fr;

    label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    input:invalid {
      box-shadow: 0 0 4px 2px red;
    }

    input, textarea {
      margin-bottom: 15px;
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;
  }
}
